*{
    box-sizing:border-box;
}
body{
    font-family: sans-serif;
}
label{
    margin:10px;
}
button, input[type="text"] {
    padding: 5px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 800px;
    text-align:center;
    max-height: 945px;
    margin: 0 auto;
  }
  .inputClass{
    cursor: pointer;
    background-color: green;
    color:white;
  }
  
  #js-error-message {
      color: red;
      padding:20px;
  }
  
  .hidden {
    display: none;
  }
